.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.steps-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.stepTitle {
    font-size: 22px;
}

@media only screen and (max-width:1023px) {
    .stepTitle {
        font-size: 17px;
    }
}

@media only screen and (max-width:767px) {
    .stepTitle {
        font-size: 12px;
    }
}